Задача 1 Связанные списки

In [3]:
class Node(object):
    def __init__(self, value=None, next_node=None):
        self.value = value
        self.next = next_node

    def __str__(self):
        return f"[Node with value {self.value}]"


def print_linked_list(head):
    cur = head
    while cur is not None:
        print(cur)
        cur = cur.next
def reverse_linked_list(head, tail=None):
    while head is not None:
        head.next, tail, head = tail, head, head.next
    return tail

In [6]:
h, a, b, c, d = Node(1), Node(2), Node(3), Node("Внезапно"), Node(5)

h.next = a
a.next = b
b.next = c
c.next = d

In [7]:
print_linked_list(h)
h = reverse_linked_list(h)
print("---")
print_linked_list(h)

[Node with value 1]
[Node with value 2]
[Node with value 3]
[Node with value Внезапно]
[Node with value 5]
---
[Node with value 5]
[Node with value Внезапно]
[Node with value 3]
[Node with value 2]
[Node with value 1]

Задача 2 Пузырьки

In [14]:
h, a, b, c, d, e = Node(3), Node(4), Node(1), Node(6), Node(4), Node(0)

h.next = a
a.next = b
b.next = c
c.next = d
d.next = e


def sort_linked_list(head_node, end = None):
    while end != head_node:
        p = head_node
        while p.next != end:
            n = p.next
            if p.value > n.value:
                p.value, n.value = n.value, p.value
            p = p.next
        end = p

sort_linked_list(h)
print_linked_list(h)

[Node with value 0]
[Node with value 1]
[Node with value 3]
[Node with value 4]
[Node with value 4]
[Node with value 6]

Задача 3 Pandas


Выясните, сколько в среднем выходи полный счёт по пятницам на ланч у курящих мужчин (датасет tips)

In [17]:
import pandas as pd

In [22]:
path = 'D:/мисис/питон-1/MISIS_2022/season_2/data/tips.csv'
dfTips = pd.read_csv(path)
dfTips

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [33]:
filter = dfTips['day'] == 'Fri'
filter &= dfTips['sex'] == 'Male'
filter &= dfTips['time'] == 'Lunch'
filter &= dfTips['smoker'] == 'Yes'
dfTips[filter]['total_bill'].mean()

11.386666666666668

Загрузите iris и посмотрите разбросы по всем числовым значениям для всех трёх классов цветов (датасет iris)

In [41]:
df = pd.read_csv("D:/мисис/питон-1/MISIS_2022/season_2/data/iris.csv")
le_masque_1 = df["Name"] == "Iris-setosa"
le_masque_2 = df["Name"] == "Iris-versicolor"
le_masque_3 = df["Name"] == "Iris-virginica"
print("Iris-setosa \n")
print('Мин:\n', df[le_masque_1].min(), 
      'Макс:\n', df[le_masque_1].max())
print("Iris-versicolor \n")
print('Мин:\n', df[le_masque_2].min(), 
      'Макс:\n', df[le_masque_2].max())
print("Iris-virginica \n")
print('Мин:\n', df[le_masque_3].min(), 
      'Макс:\n', df[le_masque_3].max())

Iris-setosa

Мин:
 SepalLength            4.3
SepalWidth             2.3
PetalLength            1.0
PetalWidth             0.1
Name           Iris-setosa
dtype: object Макс:
 SepalLength            5.8
SepalWidth             4.4
PetalLength            1.9
PetalWidth             0.6
Name           Iris-setosa
dtype: object
Iris-versicolor

Мин:
 SepalLength                4.9
SepalWidth                 2.0
PetalLength                3.0
PetalWidth                 1.0
Name           Iris-versicolor
dtype: object Макс:
 SepalLength                7.0
SepalWidth                 3.4
PetalLength                5.1
PetalWidth                 1.8
Name           Iris-versicolor
dtype: object
Iris-virginica

Мин:
 SepalLength               4.9
SepalWidth                2.2
PetalLength               4.5
PetalWidth                1.4
Name           Iris-virginica
dtype: object Макс:
 SepalLength               7.9
SepalWidth                3.8
PetalLength               6.9
PetalWidth                2.5
Name           Iris-virginica
dtype: object

Создайте новый столбец с плотностью населения. Переименуйте названия первого и третьего столбца на русский язык

In [47]:
df = pd.DataFrame({
     'country': ['Kazakhstan', 'Russia', 'Belarus', 'Ukraine'],
     'population': [17.04, 143.5, 9.5, 45.5],
     'square': [2724902, 17125191, 207600, 603628]
 })

In [48]:
df['density'] = df['population']/ df['square']
df = df.rename(columns = {'country':'Страна', 'square':'Площадь'})
df

       Страна  population   Площадь   density
0  Kazakhstan       17.04   2724902  0.000006
1      Russia      143.50  17125191  0.000008
2     Belarus        9.50    207600  0.000046
3     Ukraine       45.50    603628  0.000075